.container
{
	font-size: 22px;
	margin-top: 30px;
}
.col-md-5
{
	margin-top: 10px;
	margin-left: 200px;
}
.col-md-7
{
	margin-left: 120px;
}
.col-md-7 h2
{
	color: #555;
}
.rupees
{
	color: #0072ff;
	font-size: 28px;
	font-weight: bold;
	padding-top: 6px;
}
h2 span{
	color: #0072ff;
	font-size: 40px;
	font-weight: bolder;
	font-style: italic;
}
